 
<div id="sect2" class="container-fluid">
  <h1 class="display-5 fw-bold text-center" style="color: white;">
    Welcome to our site {{user.username}}</h1>
</div>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/save.png" alt="" width="200" height="158">
    
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here at LightSave we help you get a good estimate of how much power your appliances consume.Based on the result you get we calculate how much it would cost to run that appliance.
        The ultimate goal is to help you save on energy cost,consumption and save the world in the process!!!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Calculate Power consumption
        </button>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Calculate Cost</button>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <app-appliance></app-appliance>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row align-items-md-stretch"   >
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>The energy E in kilowatt-hours (kWh) per day is equal to the power P in watts (W) times number of usage hours per day t divided by 1000 watts per kilowatt:
              </h2>
            <br>
            <p>E(kWh/day) = P(W) × t(h/day) / 1000(W/kW)</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
  
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill=" #6e12b9  "
      fill-opacity="1"
      d="M0,0L60,42.7C120,85,240,171,360,181.3C480,192,600,128,720,101.3C840,75,960,85,1080,80C1200,75,1320,53,1380,42.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
    ></path>
  </svg>

 






