




<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 style="color: black" class="modal-title" id="exampleModalLabel">Choose Appliance and enter Hours of use</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      

        <form [formGroup]="applianceForm" (submit)="energyCalc($event)"  >
          
          <div class="form-group">
            <label>Common Appliances</label>
            <select class="form-control" (change)="wattVal()" formControlName="AppList"  autofocus>
              <option [ngValue]="null" disabled>Choose Appliance</option>
              <option *ngFor="let data of ApplianceList" [ngValue]="data.wattage">{{data.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Power Consumed</label>
            <input class="form-control" name="powerWatt" type="number" value="{{wattageVal.AppList}}"    placeholder="Power Consumed" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Hours of use per day:</label>
            <input  name="dayHrs"  type="number" step="any" min="0" max="24" class="intext form-control" placeholder="Hours of use per day" >
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success"> Calculate</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>

  



<div class="container text-center">


<h5 id="result">Energy Consumed per Day &nbsp;&nbsp;---&nbsp;&nbsp;  {{kwhDay}}&nbsp; KWh/day</h5>

<h5 id="result">Energy Consumed per Month&nbsp;&nbsp; --- &nbsp;&nbsp; {{kwhMonth}} &nbsp;KWh/month</h5>

<h5  id="result">Energy Consumed per Year&nbsp;&nbsp;  ---&nbsp;&nbsp;  {{kwhYear}}&nbsp; KWh/year</h5>

</div>


<div class="modal fade" id="calcModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 style="color: black" class="modal-title" id="calcModalLabel">Choose Appliance  enter Hours of use in a day and Cost per kwh in your region </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      

        <form [formGroup]="costForm" (submit)="costCalc($event)"  >
          
          <div class="form-group">
            <label>Common Appliances</label>
            <select class="form-control" (change)="costwattVal()" formControlName="AppList"  autofocus>
              <option [ngValue]="null" disabled>Choose Appliance</option>
              <option *ngFor="let data of ApplianceList" [ngValue]="data.wattage">{{data.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Power Consumed</label>
            <input class="form-control" name="powerWatt" type="number" value="{{wattageVal.AppList}}"    placeholder="Power Consumed" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Hours of use per day:</label>
            <input  name="dayHrs"  type="number" step="any" min="0" max="24" class="intext form-control" placeholder="Hours of use per day" >
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Cost per unit(kw/h) in your region: <small>default Kenya 24 Ksh</small>  </label>
            <input  name="costKw"  type="number" value="24" class="intext form-control" placeholder="24 Kenyan shillings" >
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success"> Calculate</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>

  


