<div class="container ">
  <h2 class="text-center text-white p-2 pt-4">Welcome to LightSave</h2>
  <div class="row m-4">
    <div class="col-md-6 col-sm-12 bg-custom none" >
    <img class="image" src="assets/register.svg" alt="">
    </div>
    <div class="col-md-6 col-sm-12 bg-custom-form">
      <p class="text-center mb-0 pt-4">Register</p>
      <form action="#" class="p-3">
        <div class="form-group" >
          <label for="pwd">FIRST NAME</label>
          <input  type="fname" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="email">EMAIL</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="pwd">USERNAME</label>
          <input type="name" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">PASSWORD</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-custom mb-3 mt-3">Sign Up</button>
        <p><small>Already have an account with us?  &nbsp;<a routerLink="/login" style=" color: white;">Log in</a></small></p>
      </form>
    </div>
  </div>
</div>